---
title: "Brand List"
---

<section class="brand-list" data-require="base/views/brand-list">
	<div class="brand-list__top">
		<div class="container">
			<p>Al-Futtaim is one of the most progressive regional business houses headquartered in Dubai, United Arab Emirates. It's committed to offering customers an unrivalled choice of the world's best brands with exceptional standards of customer service and after sales support.</p>
		</div>
	</div>
	<div class="brand-list__bottom">
		<div class="container">
			<ul class="nav nav-tabs" role="tablist" id="brand-tabs">
				{{#each brand-list.brandCategory}}
				<li role="presentation" class="{{#if @first}}active {{/if}}brand-category">
					<a href="#{{this.control}}" class="brand-category__link" aria-controls="{{this.control}}" role="tab" data-toggle="tab">
						<svg class="brand-category__img" xmlns="http://www.w3.org/2000/svg" viewBox="{{this.imageSVG.viewBox}}">
							{{#each this.imageSVG.path}}
							<path d="{{this.d}}" fill="{{this.fill}}"></path>
							{{/each}}
						</svg>
						<p>{{this.title}}</p>
					</a>
				</li>
				{{/each}}
			</ul>
			<div class="tab-content brand-category__body">
				{{#each brand-list.brandCategoryContent}}
				<div class="tab-pane active" id="{{this.id}}" role="tabpanel">
					<ul class="nav nav-pills">
						{{#each this.subCategory}}
						<li class="{{#if @first}}active {{/if}}col-subtab-{{../subCategory.length}} brand-sub-category">
							<a data-toggle="pill" href="#{{this.control}}">{{this.title}}</a>
						</li>
						{{/each}}
					</ul>
					<div class="tab-content brand-sub-category__body">
						{{#each this.subCategoryContent}}
						<div id="{{this.id}}" class="tab-pane{{#if @first}} active{{/if}}">
							<div class="owl-carousel brand-logos">
								{{#each this.brandList}}
								<a href="{{this.link}}">
									<img src="{{this.imageSource}}" alt="brand-logo" title="{{this.imageTitle}}">
								</a>
								{{/each}}
							</div>
							<div class="brand-sub-category__footer text-center">
								<div class="button-arrow-right">
									<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									<a href="{{this.exploreButton.link}}">{{this.exploreButton.title}}</a>
								</div>
							</div>
						</div>
						{{/each}}
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</section>