---
title: "Whatsnew"
---

<div class="whatsnew">
    <div class="container">
        <div class="title">
            <h2>What's new</h2>
        </div>
        <div class="article-campaign" data-require="base/views/scroll">
            <div class="article-campaign__body row">
                {{#each home-whatsnew.items}}
                <div class="content-column">
                    {{#if this.odd}}
                        <div class="article">
                            <a href="#">
                                <div class="article__image">
                                    <img src="{{this.news-grid-article.article__image.src}}">
                                </div>
                                <div class="article__content">
                                    <h2 class="date">{{this.news-grid-article.article__body.date}}</h2>
                                    <p class="content">{{this.news-grid-article.article__body.content}}</p>
                                </div>
                            </a>
                        </div>
                        <div class="campaign">
                            <a href="#">
                                <div class="campaign__content">
                                    <img src="{{this.news-grid-campaign.src}}">
                                    <div class="text">
                                        <h2>{{this.news-grid-campaign.title}}</h2>
                                        <h3>{{this.news-grid-campaign.subtitle}}</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {{else}}
                        <div class="campaign">
                            <a href="#">
                                <div class="campaign__content">
                                    <img src="{{this.news-grid-campaign.src}}">
                                    <div class="text">
                                        <h2>{{this.news-grid-campaign.title}}</h2>
                                        <h3>{{this.news-grid-campaign.subtitle}}</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="article">
                            <a href="#">
                                <div class="article__image">
                                    <img src="{{this.news-grid-article.article__image.src}}">
                                </div>
                                <div class="article__content">
                                    <h2 class="date">{{this.news-grid-article.article__body.date}}</h2>
                                    <p class="content">{{this.news-grid-article.article__body.content}}</p>
                                </div>
                            </a>
                        </div>
                    {{/if}}
                </div>
                {{/each}}
            </div>
            <div class="toggle-button toggle-right-button">
                <span class="glyphicon glyphicon-chevron-right arrow-circle"></span>
            </div>
            <div class="toggle-button toggle-left-button hidden-md hidden-lg">
                <span class="glyphicon glyphicon-chevron-left arrow-circle"></span>
            </div>
        </div>
    </div>
</div>